CDMMessage
	newTestParam=Bad testAttr1=value1 testAttr2=value2
    IsCoreFieldsOk=N
    IsBreakMatch=N
    IsGenerateForceID=N
    ParentAccount=LC
    CustomerAccount=LC, isGS=Y
    ClientCarryAccount=LC
    ExtAccountRef=LC
    GiveUpCF=LC isGS=N
    ExecutingFirm=DB isGS=Y
    ClearingTypCD=0
    ClearingFirm= isGS=N
    Exch=XEUR isGS=N
    SecTyp=FUT
    MMY=201109
    Sym=3774 isGS=Y
    TransTyp=0
    Coverage=ALL
    ApplLastSeqNum=55969407
    ApplResendFlag=N
    ApplSeqNum=55969407
    ApplLastApplID=GLOBE_GLOBAL1 isGS=Y
    ApplID=GLOBE_GLOBAL isGS=Y
    TrdDt=2011-08-19
    ExecutingUnit=GMLD isGS=Y
    GTREvtTyp=1
    MsgTyp=AE
    PosDup=N
    SID=GLOBE isGS=Y
    Snt=2011-08-19T14:21:29.695Z
    TID=dbCELL isGS=Y
    TrdID=00C9KB
    OrdID2=03BYTCJ4Q
    ListID=LDN:1342018
    OrdID=LDN:1342018
    FirmTrdID2=2100134201801004-LDN:1342018:1:4
    InptSrc=ABFO isGS=N
    OrdStat=2
    CumQty=250
    ExecTrader=LAURENCE.PYSDEN@DB.COM
    OrdOriginTrader=LAURENCE.PYSDEN@DB.COM
    Salesperson=LAURENCE.PYSDEN@DB.COM
    SystemInst=ABFO_GLOBAL isGS=Y
    PubSystem=GLOBE isGS=Y
    SystemSrc=ABFO isGS=Y
    LastUpdReason=LOAD isGS=N
    LastUpdTm=2011-08-19T14:21:28Z
    MatchStat=1
    AsOfInd=0
    Side=2
    OrdTyp=2
    LastPx=135.18
    LastQty=35
    TrdRegTS_typ:81=2011-08-19T14:21:28Z
    TrdRegTS_typ:82=2011-08-19T14:20:25Z
    StopProcessingIndicator=Y
    ExceptionIndicator=Y
    Exceptions=

CDMMessage xmlns=http://www.db.com/gmld/messaging/dbcell
    IsBreakMatch=N
    IsGenerateForceID=N
    ParentAccount=LC
    CustomerAccount=LC isGS=N
    ClientCarryAccount=LC
    ExtAccountRef=LC
    GiveUpCF=LC isGS=N
    ExecutingFirm=DB isGS=Y
    ClearingTypCD=0
    ClearingFirm= isGS=N
    Exch=XEUR isGS=N
    SecTyp=FUT
    MMY=201109
    Sym=3775 isGS=Y
    TransTyp=0
    Coverage=ALL
    ApplLastSeqNum=55969409
    ApplResendFlag=N
    ApplSeqNum=55969408
    ApplLastApplID=GLOBE_GLOBAL isGS=Y
    ApplID=GLOBE_GLOBAL isGS=Y
    TrdDt=2011-08-19
    ExecutingUnit=GMLD isGS=Y
    GTREvtTyp=1
    MsgTyp=AE
    PosDup=N
    SID=GLOBE isGS=Y
    Snt=2011-08-19T14:21:29.673Z
    TID=dbCELL isGS=Y
    TrdID=00C1T8
    OrdID2=03BYSGFIU
    ListID=LDN:1342020
    OrdID=LDN:1342020
    FirmTrdID2=2100134202001007-LDN:1342020:1:7
    InptSrc=ABFO isGS=N
    OrdStat=2
    CumQty=250
    ExecTrader=LAURENCE.PYSDEN@DB.COM
    OrdOriginTrader=LAURENCE.PYSDEN@DB.COM
    Salesperson=LAURENCE.PYSDEN@DB.COM
    SystemInst=ABFO_GLOBAL isGS=Y
    PubSystem=GLOBE isGS=Y
    SystemSrc=ABFO isGS=Y
    LastUpdReason=LOAD isGS=N
    LastUpdTm=2011-08-19T14:21:29Z
    MatchStat=1
    AsOfInd=0
    Side=2
    OrdTyp=2
    LastPx=122.08
    LastQty=54
    TrdRegTS_typ:81=2011-08-19T14:21:29Z
    TrdRegTS_typ:82=2011-08-19T14:20:33Z
    StopProcessingIndicator=Y
    ExceptionIndicator=Y
    Exceptions=
	
CDMMessage
    ClearingTypCD=0
    ParentAccount=LC
    Coverage=ALL
    Snt=2011-08-19T14:21:29.391Z
    InptSrc=ABFO isGS=N
    Side=2
    PosDup=N
    ApplLastApplID=GLOBE_GLOBAL isGS=Y
    IsBreakMatch=N
    ApplID=GLOBE_GLOBAL isGS=Y
    Salesperson=LAURENCE.PYSDEN@DB.COM
    IsGenerateForceID=N
    LastQty=1
    CustomerAccount=LC isGS=N
    TrdRegTS_typ:82=2011-08-19T15:20:33+01:00
    OrdOriginTrader=LAURENCE.PYSDEN@DB.COM
    TrdRegTS_typ:81=2011-08-19T15:21:28+01:00
    SID=GLOBE isGS=Y
    FirmTrdID2=2100134202001001-LDN:1342020:1:1
    TID=dbCELL isGS=Y
    MsgTyp=AE
    SecTyp=FUT
    TransTyp=0
    OrdID=LDN:1342020
    SystemSrc=ABFO isGS=Y
    ListID=LDN:1342020
    LastUpdReason=LOAD isGS=N
    OrdStat=1
    OrdID2=03BYSGFIU
    GiveUpCF=LC isGS=N
    OrdTyp=2
    SystemInst=ABFO_GLOBAL isGS=Y
    Exch=XEUR isGS=N
    MMY=201109
    Sym=3775 isGS=Y
    GTREvtTyp=1
    CumQty=1
    ApplResendFlag=N
    AsOfInd=0
    LastUpdTm=2011-08-19T15:21:28+01:00
    PubSystem=GLOBE isGS=Y
    ApplSeqNum=55969399
    MatchStat=1
    ExtAccountRef=LC
    ClearingFirm= isGS=N
    LastPx=122.08
    ExecutingFirm=DB isGS=Y
    ExecTrader=LAURENCE.PYSDEN@DB.COM
    TrdID=00C1T3
    ExecutingUnit=GMLD isGS=Y
    ClientCarryAccount=LC
    TrdDt=2011-08-19
    ApplLastSeqNum=55969399

CDMMessage
     IsBreakMatch=N
     IsGenerateForceID=N
     ParentAccount=LC
     CustomerAccount=LC isGS=N
     ClientCarryAccount=LC
     ExtAccountRef=LC
     GiveUpCF=LC isGS=N
     ExecutingFirm=DB isGS=Y
     ClearingTypCD=0
     ClearingFirm= isGS=N
     Exch=XEUR isGS=N
     SecTyp=FUT
     MMY=201109
     Sym=3775 isGS=Y
     TransTyp=0
     Coverage=ALL
     ApplLastSeqNum=55969409
     ApplResendFlag=N
     ApplSeqNum=55969409
     ApplLastApplID=GLOBE_GLOBAL isGS=Y
     ApplID=GLOBE_GLOBAL isGS=Y
     TrdDt=2011-08-19
     ExecutingUnit=GMLD isGS=Y
     GTREvtTyp=1
     MsgTyp=AE
     PosDup=N
     SID=GLOBE isGS=Y
     Snt=2011-08-19T14:21:29.673Z
     TID=dbCELL isGS=Y
     TrdID=00C1T8
     OrdID2=03BYSGFIU
     ListID=LDN:1342020
     OrdID=LDN:1342020
     FirmTrdID2=2100134202001007-LDN:1342020:1:7
     InptSrc=ABFO isGS=N
     OrdStat=2
     CumQty=250
     ExecTrader=LAURENCE.PYSDEN@DB.COM
     OrdOriginTrader=LAURENCE.PYSDEN@DB.COM
     Salesperson=LAURENCE.PYSDEN@DB.COM
     SystemInst=ABFO_GLOBAL isGS=Y
     PubSystem=GLOBE isGS=Y
     SystemSrc=ABFO isGS=Y
     LastUpdReason=LOAD isGS=N
     LastUpdTm=2011-08-19T14:21:29Z
     MatchStat=1
     AsOfInd=0
     Side=2
     OrdTyp=2
     LastPx=122.08
     LastQty=54
     TrdRegTS_typ:81=2011-08-19T14:21:29Z
     TrdRegTS_typ:82=2011-08-19T14:20:33Z
     StopProcessingIndicator=Y
     ExceptionIndicator=Y
	 Exceptions=
